<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Users New</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <style media="screen">
      .main_frame{
        width: 800px;
        margin: 10px auto 0px auto;
        /* text-align:center; */
      }
      ul{
        padding: 0px;
        list-style: none;
      }

      li{
        padding:5px 0px 5px 0px;
      }
    </style>
  </head>
  <body>
    <div class="main_frame">
      <h1>Add a new user</h1>
        <ul>
          <form action="/users/add" method="post">

            {% csrf_token %}

          <li>First Name</li>
          <li><input type="text" name="first_name" value=""> </li>
          <li>Last Name</li>
          <li><input type="text" name="last_name" value=""> </li>
          <li>Email </li>
          <li><input type="text" name="email" value=""> </li>
          <li><input type="submit" name="submit" value="submit"> </li>
        </form>
        </ul>
        <h3><a href="/users"> Go back </a> </h3>

    </div>
  </body>
</html>
